.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
.body{
    margin-bottom: 50px;
    position: relative;
}

.error{
    background: rgba(238, 26, 26,.3);
    color: red;
    width: 80%;
    text-align: center;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 20px;
}

.copyright{
    display: flex;
    bottom: 0;
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}


.hello{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.hello button{
    border: 2px;
    border-radius: 8px;
    width: 100%;
    background-color: brown;
}

.hello button a{
    color: black;
    text-decoration: none;
}

.copyright-flex{
    position: fixed;
}